<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDu4J82fqjoJ3L2iWOkwsGlHgbgpN34dqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>222764923580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.droelth.FirebaseAuthDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-authdemo-7c19f</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-authdemo-7c19f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222764923580:ios:529d16e14a5dad57846eb9</string>
</dict>
</plist>